.features-section {
  padding: 60px 0;
  overflow-x: clip;
}

.feature-item {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 10px;
  
}

.feature-item:hover {
  transform: translateY(-5px);
}

.Features-Icon {
  font-size: 40px;
  color: rgb(214, 59, 80);
}

.features-section h5 {
  color: #222;
  font-size: 20px;
  margin-bottom: 8px;
}

.features-section p {
  font-size: 14px;
  color: #666;
  margin: 0 auto;
  max-width: 250px;
}

@media (max-width: 768px) {


  .features-section h5 {
    font-size: 20px;
  }

  .features-section p {
    font-size: 15px;
    text-align: center;
  }
}
